extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	.first-screen(style='display: none;')
		.first-screen__bg
			img(src='./img/bg-first.jpg', alt= 'bg-first')
		.first-screen__content
			.first-screen__title <span>как вызвать</span> зависть у соседа
			.first-screen__text
				p Как перестать быть тем, кто с завистью заглядывает на участок соседу и стать тем, кому завидуют?
				p Кажется, что сравнивать, соревноваться и мериться – просто заложено в мужской природе.
					|  Вот почему мы, мужчины, с интересом поглядываем в чужой огород. Пора поменять правила игры и стать тем самым соседом,
					|  у которого трава зеленее и газон ровнее!
		.first-screen__circle-wrapper
			.first-screen__circle
				p смотри <br> <span>топ-6</span> <br> завидных трендов для дачи и сада
				svg
					use(xlink:href='./svg/sprite.svg#arrow-right')
		a.first-screen__share(data-fancybox href='#popup-share')
			svg
				use(xlink:href='./svg/sprite.svg#share')
		.first-screen__copyright © HSM Production

	.first-screen.first-screen--generator(style='display: none;')
		.first-screen__bg
			img(src='./img/bg-first.jpg', alt= 'bg-first')
		.first-screen__content
			.first-screen__title <span>генератор</span> зависти соседа
			.first-screen__text
				p Хочешь вызвать зависть соседа? Просто кликай на кнопку и получи рандомную причину для зависти.
					|  Кстати, каждый, кто пошерит причину зависти, получит <span>10% скидку</span> на покупку техники Kärcher.
		.first-screen__neighbour
			img(src='./img/neighbour.png', alt= 'neighbour')
		.first-screen__circle-wrapper
			.first-screen__circle
				p <span>жми!</span>
		a.first-screen__share(data-fancybox href='#popup-share')
			svg
				use(xlink:href='./svg/sprite.svg#share')
		.first-screen__copyright © HSM Production

	.trends
		.trend
			.trend__content
				.trend__step <span>1</span>/6
				.trend__title Идеальный газон перед домом
				.trend__text Неважно, какой ты выбрал, посевной или рулонный, поддерживать его внешний вид так же важно, как и следить за собственной шевелюрой.
										|  Профессионалы советуют не стричь траву слишком коротко и не убирать обрезки (раз в 2-3 недели).
										|  Оптимальной считается длина 2/3 от среднего показателя конкретного вида. Таким образом время отрастания травинок увеличится
			.trend__grass
				img(src='./img/grass.png', alt= 'grass')
			.trend__scissors
				img(src='./img/scissors.png', alt= 'scissors')

		.trend.trend--yellow
			.trend__product
				img(src='./img/roller-big.png', alt= 'roller')
			.trend__content
				.trend__text
					p Поддерживать свой газон в нужной форме поможет правильная газонокосилка. Не бензиновая, боже упаси, чтобы не возиться каждый раз с
						|  разведением масла и пугать соседей шумом. И не электрическая, чтобы путаться в проводах. Выход – аккумуляторная <span>газонокосилка Karcher</span>.
					p Маневренная и мощная газонокосилка с 18-ти или 36-вольтной аккумулятором обеспечит идеальный результат при кошении и при этом
						|  позволит сохранить мобильность.

		.trend.trend--2
			.trend__bg
				img(src='./img/bg-2.png', alt= 'bg-2')
			.trend__content
				.trend__step <span>2</span>/6
				.trend__title Использование на участке вечнозеленых растений и кустарников
				.trend__text
					p Вечнозеленые растения часто пользуются репутацией скучных, и совершенно зря. Именно они будут радовать глаз в холодные месяцы, которых
						|  в нашей стране больше, чем достаточно.
					p Причем ассортимент вечнозеленых или как их еще называют, зимнелетних, вовсе не ограничивается привычными хвойными: <br> туей, елью или можжевельником.
						|  Разновидностей гораздо больше: одни поражают воображение необычной формой, другие экзотическими расцветками плодов или побегов.
						|  Даже для маленьких палисадников найдутся карликовые сорта. К тому же вечнозеленые растения в подавляющем большинстве не прихотливы в уходе,
						|  и все что требуется, это подравнивать их форму при помощи кустореза.

		.trend.trend--center
			.trend__text
				p Выбирай <span>аккумуляторную модель</span> с лезвиями алмазной заточки, которая обеспечит идеальную обрезку без усилий.
				p Не менее важные показатели хорошего кустореза - малый вес и эргономичная рукоятка, которые смогут обеспечить удобное и безопасное выполнение
					|  работ без чрезмерной нагрузки на руки и плечи.

		.trend.trend--3
			.trend__bg
				img(src='./img/bg-3.jpg', alt= 'bg-3')
			.trend__content
				.trend__step <span>3</span>/6
				.trend__title Вертикальный сад
				.trend__text Тренд на осознанное потребление и экологию породил повальное увлечение вертикальным озеленением. Но даже если Грета Тунберг не числится
										|  среди твоих ролевых моделей, использовать не только горизонтальные поверхности твоего дома или дачи, идея оригинальная!
										|  К тому же при помощи фитопанно или фитостены можно замаскировать неровную стену или скрыть коммуникации. Сажать можно как
										|  декоративные неприхотливые растения, вроде жимолости или клематиса, так и те, с которых можно потом собрать урожай,
										|  вроде декоративной тыквы или фасоли.

		.trend.trend--4
			.trend__content
				.trend__step <span>4</span>/6
				.trend__title Пространство под досуг
				.trend__text Несколько десятков лет назад все полезное пространство дачи было принято занимать грядками и теплицами, а на дачу приезжали
										|  исключительно работать. Сегодня это в первую очередь место проведения досуга и отдыха, так что зона барбекю или летняя кухня,
										|  пара шезлонгов или баскетбольное кольцо – необходимые атрибуты. Причем оформлять пространство лучше не отслужившей свой век мебелью,
										|  а специально предназначенной для эксплуатации на открытом воздухе садовой. И об уходе за этой зоной тоже придется позаботится.
			.trend__bg
				img(src='./img/bg-4.jpg', alt= 'bg-4')

		.trend.trend--yellow.trend--yellow-2
			.trend__product
				img(src='./img/trimmer.png', alt= 'trimmer')
			.trend__content
				.trend__text
					p Добраться до труднодоступных мест за мангалом, где так и норовят вырасти сорняки, поможет легкий и удобный <span>аккумуляторный триммер для стрижки травы</span>.
					p Он поможет не только добраться до труднодоступных углов, но и ровно подстричь газон по граням. Обращай внимание на рукоятку: у триммеров Karcher она
						|  спроектирована так, чтобы обеспечивать комфорт при работе, особенно если есть проблемы со спиной.

		.trend.trend--5
			.trend__bg
				img(src='./img/bg-5.png', alt= 'bg-5')
			.trend__content
				.trend__step <span>5</span>/6
				.trend__title Часть опавших листьев можно и не убирать
				.trend__text Небольшое количество опавших листьев даже на твоем идеальнейшем газоне не критично. Наблюдая за их свободным падением, ты, наоборот,
										|  научишься абстрагироваться от насущных проблем, заземлишься и познаешь органический Дзен.

		.trend.trend--center.trend--center-2
			.trend__text А для дорожек вокруг дома есть <span>аккумуляторная воздуходувка</span> Karcher. Она легко и быстро удалит опавшие листья, разберется с обрезками
									|  живой изгороди и срезанной травой. А еще без труда справится с сыпучей или рыхлой грязью в доме или гараже.

		.trend.trend--4.trend--6
			.trend__content
				.trend__step <span>6</span>/6
				.trend__title Экологическая составляющая
				.trend__text То, чем садоводы и фермеры занимались уже много сотен лет, теперь называется трендом на экологичность.
										|  Это не только выращивание собственных овощей и фруктов на участке, но и органические удобрения, и использование натуральной мульчи
										|  и не в последнюю очередь садовая техника, работающая от аккумуляторов, а не на бензине.
			.trend__bg
				img(src='./img/bg-6.png', alt= 'bg-6')

		.trend.trend--center.trend--center-yellow
			.trend__text Например, садовая техника Karcher работает на единой платформе <span>Battery Universe</span>, предназначенной более чем для 40 видов
									|  инструментов: от ухода за садом и другими зелеными насаждениями до пылесосов для сухой и влажной уборки.

		.trend.trend--cols
			.trend__col
				.trend__text Помимо того, что аккумуляторная садовая техника работает без шума и бензиновых выхлопов, она станет настоящим спасением,
										|  если у тебя на участке нет электричества. Независимо от того, каким устройством ты пользуешься, – аккумуляторной газонокосилкой,
										|  аккумуляторным моющими пылесосами или устройствами для удаления сорняков Kärcher – аккумуляторы можно быстро и легко заменить,
										|  и пользоваться аппаратами в любое время и в любых условиях.
			.trend__col
				img(src='./img/bg-cols-1.jpg', alt= 'bg-cols-1')

		.trend.trend--center.trend--center-font
			.trend__text Продукты с аккумуляторами на 18 В идеально подходят для ухода за небольшими и средними садами и открытыми зонами, а для выполнения
									|  работ по очистке и ухода за садом специально созданы мощные устройства разных категорий с аккумуляторами на 36 В.

		.trend.trend--cols.trend--cols-2
			.trend__col
				.trend__text К тому же благодаря технологии Real Time не придется гадать, насколько еще хватит запаса аккумулятора. В отличие от световых диодов,
										|  в технике Karcher на встроенный ЖК-дисплей выводится детальная информация о состоянии аккумулятора и уровне заряда: оставшееся время
										|  работы в минутах поможет рассчитать, когда надо менять или заряжать батарею. А во время процесса зарядки ты будешь с точностью до
										|  минуты знать, когда можно будет приступить к работе и успеешь ли ты за это время выпить бутылочку чего-нибудь освежающего.
			.trend__col
				img(src='./img/bg-cols-2.jpg', alt= 'bg-cols-2')
