extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	.first-screen(style='display: none;')
		.first-screen__bg
			img(src='./img/bg-first.jpg', alt= 'bg-first')
		.first-screen__content
			.first-screen__title <span>как вызвать</span> зависть у соседа
			.first-screen__text
				p Как перестать быть тем, кто с завистью заглядывает на участок соседу и стать тем, кому завидуют?
				p Кажется, что сравнивать, соревноваться и мериться – просто заложено в мужской природе.
					|  Вот почему мы, мужчины, с интересом поглядываем в чужой огород. Пора поменять правила игры и стать тем самым соседом,
					|  у которого трава зеленее и газон ровнее!
		.first-screen__circle-wrapper
			.first-screen__circle
				p смотри <br> <span>топ-6</span> <br> завидных трендов для дачи и сада
				svg
					use(xlink:href='./svg/sprite.svg#arrow-right')
		a.first-screen__share(data-fancybox href='#popup-share')
			svg
				use(xlink:href='./svg/sprite.svg#share')
		.first-screen__copyright © HSM Production

	.first-screen.first-screen--generator
		.first-screen__bg
			img(src='./img/bg-first.jpg', alt= 'bg-first')
		.first-screen__content
			.first-screen__title <span>генератор</span> зависти соседа
			.first-screen__text
				p Хочешь вызвать зависть соседа? Просто кликай на кнопку и получи рандомную причину для зависти.
					|  Кстати, каждый, кто пошерит причину зависти, получит <span>10% скидку</span> на покупку техники Kärcher.
		.first-screen__neighbour
			img(src='./img/neighbour.png', alt= 'neighbour')
		.first-screen__circle-wrapper
			.first-screen__circle
				p <span>жми!</span>
		a.first-screen__share(data-fancybox href='#popup-share')
			svg
				use(xlink:href='./svg/sprite.svg#share')
		.first-screen__copyright © HSM Production

