header.header
	a.header__logo(href='#')
		img(src='./img/logo-maxim.png', alt= 'logo-1')
	nav.header__menu
		li
			a.header__menu-link.header__menu-link--active(href='#') в начало
		li
			a.header__menu-link(href='#') завидные тренды
		li
			a.header__menu-link(href='#') генератор зависти соседа
	a.header__logo(href='#')
		img(src='./img/logo-karcher.png', alt= 'logo-2')
