header.header
	a.header__logo-maxim(href='#')
		img(src='./img/logo-maxim.png')
	.header__burger
		.icon-left
		.icon-right
	nav.header__menu
		li
			a.header__menu-link.header__menu-link--active в начало
		li
			a.header__menu-link завидные тренды
		li
			a.header__menu-link генератор зависти соседа
	a.header__logo-karcher(href='#')
		img(src='./img/logo-karcher.png')
	nav.header__menu.header__menu--mobile
		.header__menu-bg
		.header__menu-content
			li
				.header__menu-digit 1
				a.header__menu-link.anchor(href='#section-1') в начало
			li
				.header__menu-digit 2
				a.header__menu-link.anchor(href='#section-2') завидные тренды
			li
				.header__menu-digit 3
				a.header__menu-link.anchor(href='#section-3') генератор зависти соседа
			.header__menu-share-title Поделиться в соцсетях
			.header__menu-share(data-title="Заголовок share" data-image="" data-url="https://karcher.maximonline.ru/share/")
				a.header__social-icon.sharing__button.vk(href='javascript:;' data-id="share_vk" data-mode="nohash")
				a.header__social-icon.sharing__button.fb(href='javascript:;' data-id="share_fb" data-mode="nohash")
				a.header__social-icon.sharing__button.tw(href='javascript:;' data-id="share_tw" data-mode="nohash")
				a.header__social-icon.sharing__button.ok(href='javascript:;' data-id="share_ok" data-mode="nohash")
