.first-screen {
	position: relative;

	@media (min-width: $dMin) {
		overflow: hidden;
	}

	&__flex {
		display: flex;
		align-items: center;
		height: 100%;
	}

	&__bg {
		width: 100%;
		height: 100%;
		position: absolute;

		&::after,
		&::before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: $black;
			opacity: 0.56;
		}

		&::before {
			z-index: -1;
			opacity: 1;

			@media (min-width: $dMin) {
				display: none;
			}
		}

		img {
			width: 100%;
			height: 66%;
			object-fit: cover;

			@media (min-width: 368px) {
				height: 68%;
			}

			@media (min-width: 399px) {
				height: 69%;
			}

			@media (min-width: 409px) {
				height: 71%;
			}

			@media (min-width: 513px) {
				height: 73%;
			}

			@media (min-width: 670px) {
				height: 75%;
			}

			@media (min-width: 721px) {
				height: 77%;
			}

			@media (min-width: $dMin) {
				height: 100%;
			}
		}
	}

	&__content {
		position: relative;
		padding: 249px 20px 15px;

		@media (min-width: $dMin) {
			padding: 1.8229vw 3.9583vw 4.1666vw;
		}
	}

	&__title {
		max-width: 765px;
		font-family: 'Helvetica Neue Black';
		font-size: 44px;
		line-height: 43.24px;
		text-transform: uppercase;
		color: $yellow;

		@media (min-width: $dMin) {
			font-size: 7.1354vw;
			line-height: 6.979vw;
		}

		span {
			-webkit-text-stroke: 2px $yellow;
			color: transparent;
		}
	}

	&__text {
		max-width: 765px;
		margin-top: 45px;
		font-family: 'Helvetica Neue Md';
		font-size: 14px;
		line-height: 17px;
		color: $white;

		@media (min-width: $dMin) {
			font-size: 1.3vw;
			line-height: 1.56vw;
			margin-top: 2.5vw;
		}

		p span {
			background-color: $yellow;
			color: $black;
		}

		p + p {
			margin-top: 21px;
		}

		br {
			display: none;

			@media (min-width: $dMin) {
				display: block;
			}
		}
	}

	&__circle-wrapper {
		display: none;
		position: absolute;
		top: calc(50% + 15px);
		right: 0;
		transform: translateY(-50%);
		width: 331px;
		height: 331px;

		@media (min-width: $dMin) {
			display: block;
			width: 21.56vw;
			height: 21.56vw;
		}
	}

	&__circle {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		padding: 49px;
		font-family: 'Helvetica Neue Black';
		font-size: 22px;
		line-height: 23px;
		color: $black;
		text-transform: uppercase;
		box-sizing: border-box;
		position: absolute;
		right: -2.81vw;
		cursor: pointer;

		&::before {
			content: '';
			border-radius: 50%;
			background-color: $yellow;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			transition: transform 0.3s ease;
		}

		&:hover::before {
			transform: scale(1.1);
		}

		p {
			position: relative;
		}

		span {
			font-size: 48px;
			line-height: 42px;

			@media (min-width: $dMin) {
				font-size: 3.125vw;
				line-height: 2.7vw;
			}
		}

		svg {
			width: 100%;
			max-width: 1.98vw;
			height: 2vw;
			transform: rotate(-90deg);
			position: relative;
			top: -0.26vw;
			left: -0.88px;
		}
	}

	&__share {
		display: none;
		position: absolute;
		left: 20px;
		bottom: 30px;
		z-index: 20;
		cursor: pointer;

		@media (min-width: $dMin) {
			display: block;
		}

		svg {
			fill: $white;
			width: 26px;
			height: 29px;
		}

		&--mobile {
			display: block;
			top: 30px;
			bottom: auto;

			@media (min-width: $dMin) {
				display: none;
			}
		}
	}

	&__share-inner {
		display: none;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 50px;
		height: 206px;
		background-color: $black;
		position: absolute;
		left: 9px;
		bottom: 19px;
		z-index: 19;
		padding: 5px 5px 50px 5px;
		border-radius: 25px;
		opacity: 0;
		transition: opacity 0.3s ease;
		box-sizing: border-box;

		@media (min-width: $dMin) {
			display: flex;
		}
	}

	&__share-inner-visible {
		opacity: 1;
	}

	&__social-icon {
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;

		&:nth-child(1) {
			background-image: url("../img/socials/vk-white.png");
			background-size: 20px;
		}

		&:nth-child(2) {
			background-image: url("../img/socials/fb-white.png");
			background-size: 11px;
		}

		&:nth-child(3) {
			background-image: url("../img/socials/tw-white.png");
			background-size: 20px;
		}

		&:nth-child(4) {
			background-image: url("../img/socials/ok-white.png");
			background-size: 14px;
		}
	}

	&__copyright {
		display: none;
		font-family: 'Helvetica Neue';
		font-size: 18px;
		color: $white;
		position: absolute;
		right: 20px;
		bottom: 30px;
		z-index: 2;

		@media (min-width: $dMin) {
			display: block;
		}

		&--mobile {
			display: block;
			right: auto;
			left: 50%;
			transform: translateX(-50%);

			@media (min-width: $dMin) {
				left: auto;
				right: 20px;
				bottom: 30px;
				transform: none;
			}
		}
	}

	&--generator {
		.first-screen {
			display: none;

			&__flex {
				display: flex;
				align-items: center;
				height: 100%;
			}

			&__bg {
				&::after {
					opacity: 0.86;
				}

				img {
					display: none;

					@media (min-width: $dMin) {
						display: block;
					}
				}
			}

			&__neighbour {
				display: none;
				position: absolute;
				bottom: 0;
				right: 18vw;

				@media (min-width: $dMin) {
					display: block;
				}

				img {
					width: 308px;
					vertical-align: bottom;
					position: relative;
					left: 50%;
					transform: translateX(-50%);

					@media (min-width: $dMin) {
						width: 45.88vw;
						left: auto;
						transform: none;
					}
				}

				&--mobile {
					display: block;
					position: relative;
					right: 0;

					@media (min-width: $dMin) {
						display: none;
					}
				}
			}

			&__content {
				width: 100%;
				position: unset;
				z-index: 1;
				padding: 30px 20px;

				@media (min-width: $dMin) {
					padding: 11.5625vw 4.48vw 7.8645vw;
				}
			}

			&__title {
				font-size: 43px;
				line-height: 42.62px;
				letter-spacing: normal;

				@media (min-width: $dMin) {
					font-size: 6.7vw;
					line-height: 7vw;
				}
			}

			&__text {
				font-size: 25px;
				line-height: 30px;
				margin-top: 36px;

				@media (min-width: $dMin) {
					font-size: 1.3vw;
					line-height: 1.5625vw;
					max-width: 38.75vw;
					margin-top: 1.875vw;
				}
			}

			&__circle-wrapper {
				width: 21.3vw;
				height: 21.3vw;
				top: calc(50% + 29px);
				right: 95px;
				cursor: pointer;
				z-index: 1;

				@media (max-width: 1023px) {
					width: 210px;
					height: 210px;
					position: relative;
					bottom: 0;
					left: 50%;
					transform: translateX(-50%);
					display: block;
					padding-top: 23px;
					padding-bottom: 267px;
				}

				@media (min-width: $dMin) {
					width: 21.04vw;
					height: 21.04vw;
					right: 4.94vw;
				}
			}

			&__circle {
				right: 0;

				@media (max-width: 1023px) {
					position: relative;
				}

				span {
					@media (max-width: 1023px) {
						font-size: 31px;
					}

					@media (min-width: $dMin) {
						font-size: 3.125vw;
					}
				}
			}
		}
	}
}

.trends {
	&__title {
		font-family: 'Helvetica Neue Black';
		font-size: 23px;
		text-transform: uppercase;
		color: $yellow;
		background-color: $black;
		padding: 39px 10px 10px 20px;

		@media (min-width: $dMin) {
			display: none;
		}

		span {
			font-size: 50px;
			line-height: 53.96px;
			-webkit-text-stroke: 2px $yellow;
			color: transparent;
		}
	}
}

.trend {
	position: relative;
	background-color: $black;
	overflow: hidden;

	&__content {
		padding: 26px 20px 0;

		@media (min-width: $dMin) {
			padding: 2.5vw 11.7vw 0;
		}
	}

	&__step {
		font-family: 'Helvetica Neue Bd';
		font-size: 51px;
		font-weight: bold;
		color: $yellow;
		text-transform: uppercase;

		@media (min-width: $dMin) {
			font-size: 3.6458vw;
		}

		span {
			font-size: 104px;

			@media (min-width: $dMin) {
				font-size: 7.448vw;
			}
		}
	}

	&__title,
	&__text {
		max-width: 795px;
		width: 100%;
		color: $white;
	}

	&__title {
		font-family: 'Helvetica Neue Bd';
		font-size: 28px;

		@media (min-width: $dMin) {
			font-size: 2.0833vw;
		}
	}

	&__text {
		position: relative;
		z-index: 1;
		font-size: 14px;
		margin-top: 50px;

		@media (min-width: $dMin) {
			font-size: 1.3vw;
			line-height: 1.5625vw;
		}

		p + p {
			margin-top: 2.08vw;
		}

		br {
			display: none;

			@media (min-width: $dMin) {
				display: block;
			}
		}
	}

	&__grass {
		position: relative;
		height: 123px;
		margin-top: 26px;

		@media (min-width: $dMin) {
			margin-top: 0;
			height: 8.59375vw;
		}

		@media (min-width: $dMin) and (max-width: 1500px) {
			height: 18.594vw;
		}

		img {
			width: 100%;
			position: absolute;
			bottom: 0;
		}
	}

	&__scissors {
		position: absolute;
		bottom: 52px;
		right: 0;

		@media (min-width: $dMin) {
			top: 7.4vw;
			bottom: auto;
		}

		@media (min-width: $dMin) and (max-width: 1500px) {
			top: 16.4vw;
		}

		img {
			width: 26.927vw;
		}
	}

	// modifiers

	&--yellow {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 29px 20px 62px 22px;
		background-color: $yellow;
		overflow: unset;

		@media (min-width: $dMin) {
			padding: 117px 133px 0;
			flex-direction: row;
		}

		.trend {
			&__product {
				@media (min-width: $dMin) {
					position: relative;
					margin-top: -7.5vw;
					left: -1.875vw;
				}

				img {
					width: 50%;

					@media (min-width: $dMin) {
						width: 100%;
					}
				}
			}

			&__content {
				padding: 0;
			}

			&__text {
				font-family: 'Helvetica Neue Bd';
				font-size: 14px;
				color: $black;
				margin-top: 0;
				max-width: 100%;

				@media (min-width: $dMin) {
					font-size: 1.3vw;
					max-width: 41.6666vw;
					padding-bottom: 2.6vw;
				}

				p + p {
					margin-top: 15px;

					@media (min-width: $dMin) {
						margin-top: 1.5625vw;
					}
				}

				span {
					background-color: $white;
				}
			}
		}
	}

	&--2 {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		@media (min-width: $dMin) {
			flex-direction: row;
			align-items: flex-end;
		}

		.trend {
			&__bg {
				img {
					width: 100%;
					vertical-align: bottom;
				}
			}

			&__content {
				padding: 26px 20px 36px;
				order: -1;

				@media (min-width: $dMin) {
					padding: 3.4vw 7.8125vw 3.4375vw 1.1vw;
					order: 1;
				}
			}

			&__text {
				margin-top: 58px;

				@media (min-width: $dMin) {
					margin-top: 3vw;
				}

				p + p {
					margin-top: 30px;

					@media (min-width: $dMin) {
						margin-top: 1.5625vw;
					}
				}
			}
		}
	}

	&--center {
		background-color: $white;

		.trend {
			&__text {
				font-family: 'Helvetica Neue Bd';
				margin-top: 0;
				padding: 30px;
				font-size: 16px;
				color: $black;
				max-width: 100%;
				box-sizing: border-box;
				text-align: center;

				@media (min-width: $dMin) {
					font-size: 1.3vw;
					margin: 3.958vw auto;
					max-width: 43.223vw;
					padding: 0;
					text-align: left;
				}

				p + p {
					margin-top: 32px;

					@media (min-width: $dMin) {
						margin-top: 1.6666vw;
					}
				}

				span {
					background-color: $yellow;
				}
			}
		}
	}

	&--3 {
		position: relative;

		.trend {
			&__bg,
			&__bg::after {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
			}

			&__bg::after {
				content: '';
				display: block;
				background-color: $black;
				opacity: 0.7;
			}

			&__content {
				position: relative;
				padding: 26px 20px 36px;
				display: flex;
				flex-direction: column;
				align-items: center;

				@media (min-width: $dMin) {
					padding: 3.958vw 0 9.84vw 4.8vw;
				}
			}

			&__title,
			&__text,
			&__step {
				max-width: 876px;
				width: 100%;
			}
		}
	}

	&--4 {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		@media (min-width: $dMin) {
			flex-direction: row;
			align-items: flex-end;
		}

		.trend {
			&__content {
				padding: 26px 20px 36px;

				@media (min-width: $dMin) {
					padding: 2.5vw 0 7.968vw 11.458vw;
				}
			}

			&__bg {
				img {
					width: 100%;
					vertical-align: bottom;
				}
			}

			&__text {
				max-width: 797px;
				margin-top: 25px;
			}
		}
	}

	&--yellow-2 {
		padding: 29px 20px 62px 22px;

		@media (min-width: $dMin) {
			padding: 7.03vw 6.927vw 1.7vw;
		}

		.trend {
			&__product {
				left: 6vw;

				@media (min-width: $dMin) {
					margin-top: -14.5vw;
				}

				img {
					width: 33.02vw;
				}
			}
		}
	}

	&--5 {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		@media (min-width: $dMin) {
			flex-direction: row;
			align-items: flex-end;
		}

		.trend {
			&__bg {
				@media (min-width: $dMin) {
					padding-left: 60px;
				}

				img {
					width: 100%;
					vertical-align: bottom;
				}
			}

			&__content {
				padding: 26px 20px 36px;
				order: -1;

				@media (min-width: $dMin) {
					padding: 6.6666vw 5.9895vw 7.552vw 2.7vw;
					order: 1;
				}
			}

			&__title,
			&__text {
				max-width: 670px;
			}

			&__text {
				margin-top: 35px;
			}
		}
	}

	&--center-2 {
		padding: 50px 0;
	}

	&--center-yellow {
		background-color: $yellow;

		.trend__text {
			max-width: 865px;

			span {
				background-color: $white;
			}
		}
	}

	&--cols {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@media (min-width: $dMin) {
			flex-direction: row;
		}

		.trend {
			&__text {
				margin-top: 0;
			}

			&__col {
				&:first-child {
					padding: 30px;

					@media (min-width: $dMin) {
						padding: 6.77vw 9.1145vw 7.8125vw 13.54vw;
					}
				}

				&:last-child {
					width: 100%;

					@media (min-width: $dMin) {
						max-width: 44vw;
					}

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
			}
		}
	}

	&--center-font {
		.trend__text {
			font-family: 'Helvetica Neue';
		}
	}

	&--cols-2 {
		.trend {
			&__col {
				&:first-child {
					padding: 30px;
					order: -1;

					@media (min-width: $dMin) {
						padding: 8.645vw 8.645vw 8.645vw 3.6979vw;
						order: 1;
					}
				}

				&:last-child {
					order: -1;

					@media (min-width: $dMin) {
						max-width: 46.354vw;
					}
				}
			}
		}
	}
}